<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <div class="card-title">{{panelTitle}}</div>

        <div *ngIf="showButton" class="card-tools">
          <a [routerLink]="buttonLink"><i class="fa" [ngClass]="buttonIcon"></i>{{buttonText}}</a>
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <ng-content></ng-content>
      </div>

    </div>
  </div>
</section>
