@import "src/variables.scss";

// PROPRIEDADES DO PAINEL

@mixin breakpoint() {
  @media (max-width: 644px) {
    font-size: 20px;
    @content;
  }

  @media (max-width: 542px) {
    font-size: 18px;
    @content;
  }

  @media (max-width: 510px) {
    font-size: 15px;
    @content;
  }
}


div.card .card-header {
  padding: 18px;
  height: 60px;
  border-bottom: 1px solid map-get($colors, azul-primario);

  div.card-title {
    text-transform: uppercase;
    color: map-get($colors, azul-primario);
    @include breakpoint();
  }

  //BOTÕES DO PAINEL
  div.card-tools {
    a {
      color: map-get($colors,cinza-primario);
      cursor: pointer;
      margin-left: 20px;
      transition: all 0.2s;
      text-transform: uppercase;
      border-radius: 5px;
      font-size: 1rem;
      padding: 0 12px;
      font-size: 13px;

      &:hover {
        background: map-get($colors, azul-primario);
        color: #fff;
        padding: 12px;
      }

      .fa {
        margin-right: 3px;
      }
    }
  }
}
