<app-page-header
  [breadCrumbItems]="[{text: 'Cadastros', icon: 'fa-edit'}, {text: 'Cadatro de Ativos'}]"
  page-title="Ativos"></app-page-header>

<app-panel-container [panelTitle]="pageTitle" [isLoading]="loadingResources">


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="row">

    <div class="col-12">
      <app-form-validation-container for="titulo" label="Titulo" [form-control]="resourceForm.get('titulo')">
        <input type="text" class="form-control" id="titulo" formControlName="titulo">
      </app-form-validation-container>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <div class="row">
    <div class="form-group col-md-12">
      <button class="m-top float-left" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
              [label]="resourceForm.get('id').value ? 'Atualizar' : 'Salvar'" icon="pi pi-check"></button>
    </div>
  </div>
</form>

<app-estrutura-list [miniCrudForm]="this"></app-estrutura-list>
</app-panel-container>

