<app-panel-container [isLoading]="loadingResources" panelTitle="Lista de Ativos" [showButton]="false">

<p-table [value]="items" [responsive]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Titulo</th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ativo>
      <tr>
        <td>{{ativo.titulo}}</td>
        <td class="text-center">
          <button title="Editar" [disabled]="disableActions(ativo)" (click)="updateResource(ativo)" class="m-r-5 btn-acoes">
            <i class="fa fa-pencil-alt font-14"></i>
          </button>
          <button title="Excluir" [disabled]="disableActions(ativo)" (click)="confirmRemove(ativo)" class="m-r-5 btn-acoes">
            <i class="fa fa-trash font-14"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</app-panel-container>
