<div class="alert alert-danger alert-bordered alert-dismissable fade show mt-4" *ngIf="serverErrorMessages">
  <button class="close" data-dismiss="alert" aria-label="Close">×</button>
<strong>Erro no servidor:</strong>
<ul>
  <li *ngFor="let error of serverErrorMessages">{{error}}</li>
</ul>
</div>
