<app-panel-container [isLoading]="loadingResources" panelTitle="Lista de Estruturas" [showButton]="false">

<p-table [value]="items" [responsive]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Situação</th>
        <th>Dano Potencial</th>
        <th>Categoria de Risco</th>
        <th>Nivel Emergencial</th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-estrutura>
      <tr>
        <td>{{estrutura.descricao}}</td>
        <td>{{tipoEstrutura[estrutura.tipo]}}</td>
        <td>{{situacaoEnum[estrutura.situacao]}}</td>
        <td>{{tipoRisco[estrutura.danoPotencial]}}</td>
        <td>{{tipoRisco[estrutura.categoriaRisco]}}</td>
        <td>{{nivelEmergencia[estrutura.nivelEmergencia]}}</td>
        <td class="text-center">
          <button title="Editar" [disabled]="disableActions(estrutura)" (click)="updateResource(estrutura)" class="m-r-5 btn-acoes">
            <i class="fa fa-pencil-alt font-14"></i>
          </button>
          <button title="Excluir" [disabled]="disableActions(estrutura)" (click)="confirmRemove(estrutura)" class="m-r-5 btn-acoes">
            <i class="fa fa-trash font-14"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</app-panel-container>
