<app-page-header [breadCrumbItems]="[{text: 'Complexos Minerarios', icon: 'fa-users'}]" page-title="Cadastro"></app-page-header>
<app-panel-container [isLoading]="loadingResources" buttonLink="new" panelTitle="Lista de Complexos Minerarios" buttonText="Novo" buttonIcon="fa-plus">

<p-table [value]="resources" [responsive]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Municipio</th>
        <th>Situação</th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-complexo>
      <tr>
        <td>{{complexo.id}}</td>
        <td>{{complexo.nome}}</td>
        <td>{{complexo.municipio}}</td>
        <td>{{situacaoEnum[complexo.situacao]}}</td>
        <td class="text-center">

          <button  pTooltip="Agenda" tooltipPosition="top" [routerLink]="[complexo.id, 'agenda']" class="m-r-5 btn-acoes">
            <i class="fa fa-calendar-alt font-14"></i>
          </button>

          <button pTooltip="Download Relatório" tooltipPosition="top" (click)="gerarRelatorio(complexo.id)" class="m-r-5 btn-acoes">
            <i class="fa fa-file-pdf font-14"></i>
          </button>

          <button pTooltip="Editar" tooltipPosition="top" [routerLink]="[complexo.id, 'edit']" class="m-r-5 btn-acoes">
            <i class="fa fa-pencil-alt font-14"></i>
          </button>

          <button pTooltip="Excluir" tooltipPosition="top" (click)="confirmRemove(complexo)" class="m-r-5 btn-acoes">
            <i class="fa fa-trash font-14"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</app-panel-container>
