@import "src/variables.scss";

div.input-group-icon {

    position: relative;

    i {
        right: 0.75rem;
        //color: #495057;
        position: absolute;
        top: 50%;
        margin-top: -.5rem;
    }
}

.has-success {
  color:  map-get($colors, sucesso);;
}
.has-error {
    color:  map-get($colors, error);;
}

.type-select {
    right: 27px !important;
    top: 54% !important;
}

label {
  margin-top: 10px;
}
