<label [for]="for">{{label}}</label>
<div class="input-group-icon">
    <ng-content></ng-content>
    <i [class.has-success]="hasSuccess()" [class.type-select]="selectType" *ngIf="showTip && hasSuccess()" class="fa fa-check"></i>
    <i [class.has-error]="hasError()" [class.type-select]="selectType" *ngIf="showTip && hasError()" class="fa fa-exclamation"></i>
</div>
<!--<span class="has-success" *ngIf="showTip && hasSuccess()"><i class="fa fa-check"></i> Ok</span>-->
<span class="has-error" *ngIf="showTip && hasError()"><i class="fa fa-times"></i> {{errorMessage}} </span>
