<!-- Main Footer -->
<footer class="main-footer">
  <strong
    >Copyright &copy; 2020
    <a href="http://adminlte.io">Controle Ambiental de Barragens</a>.</strong
  >
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block"><b>Versão</b> 1.0.0</div>
</footer>
