<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item">

    <a routerLink="/"> <i class="fa fa-home"></i> Home</a>
  </li>

  <li *ngFor="let item of items" class="breadcrumb-item" [class.active]="isTheLastItem(item)">
    <span *ngIf="isTheLastItem(item)">
      <i class="fa" [ngClass]="item.icon"></i>
      {{item.text}}
    </span>

    <a *ngIf="!isTheLastItem(item)" [routerLink]="item.link">
      <i class="fa" [ngClass]="item.icon"></i>
      {{item.text}}
    </a>
  </li>

</ol>
