@import "src/variables.scss";

ol {
  font-size: 13px;
}

 a {
   color: #6c757d !important;

   &:hover {
      color: #007ad9 !important;
      border-bottom: 1px solid map-get($colors, azul-primario);
      transition: all 0.2s;
    }
 }

