.login-box {
  margin: 0 auto;
}

.help-block {
  margin-top: -15px;
  margin-bottom: 10px;
  color: red;
  margin-left: 2px;
  font-size: 10px;
}

.login-logo {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 100px 0 0 0;
  font-size: 24px;
  background: #406d94;
  color: #fff;
  font-weight: 400;
  padding: 5px 48px;
}
.login-box-msg {
  font-weight: 600;
}

.input-group-text {
  border: 1px solid #ced4da;
}

.input-group-text.error {
  border: 1px solid #dc3545 !important;
}

.input-group-text.success {
  border: 1px solid #2ecc71 !important;
}


/*@media only screen and (min-width: 640px) {
    .login-body .login-panel .login-panel-content{
        width: 80%;
        margin: 0 auto;
        left: 0;
    }
}

.login-icon{
    font-size: 4em;color: black;
    padding: 5% 0%;
}
.login-icon::before{
    border:3px solid black;
    border-radius: 100%;
    padding: 5px;
}

:host ::ng-deep .ui-fieldset .ui-fieldset-legend{
    border:none;
    background: white;
}

.login-body .login-panel .login-panel-content .login-label {
    color: #888;
    margin-bottom: 5px;
}
@media only screen and (max-width: 640px) {
}*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div.tab-active {
    -webkit-animation: fadein 0.9s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.9s; /* Firefox < 16 */
    -ms-animation: fadein 0.9s; /* Internet Explorer */
    -o-animation: fadein 0.9s; /* Opera < 12.1 */
    animation: fadein 0.9s;
}


li.active {
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: opacity 2s ease-in;

    a {
        color: #fff;
        font-weight: 400;
    }
}

.tabs {
    font-size: 16px;
    color: #0062cc;

    &:hover {
        cursor: pointer;
    }
}

ul.nav {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 0px;

    @media (max-width: 375px) {
        margin-left: 0px;
    }

    li {
        display: inline;
        padding: 10px;
        margin-right: 15px;

        &:hover {
            cursor: pointer;
        }

        a {
            padding: 0px 30px;

            @media (max-width: 375px) {
                padding: 0px 28px;
            }

            @media (max-width: 320px) {
                padding: 0px 18px;
            }
        }
    }
}


h5 {
    font-size: 1.25rem;
    color: #6c757d;
    margin-top: 10px;
    font-weight: 500;
}

span.loginMode {
    color: #007BFF;
}

.text-justify {
    text-align: justify !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.container {
    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 576px) {
        max-width: 670px;
    }

    @media (max-width: 425px) {
        padding-right: 0;
        padding-left :0;
    }

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;

    h4 {
        font-size: 1.5rem;
        font-family: inherit;
        font-weight: 500;
        margin-bottom: -15px;
        line-height: 1.2;
        color: inherit;
    }

}


:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav, :host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    background: transparent;
}
:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{
    background-color: #007bff
}
:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a{
    color: #fff !important;
}

:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-panels{
    border: none !important;
}

:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li{
 border:none !important;
 width: 30%;
}
:host ::ng-deep  .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
    width: 100%;
}

:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover{
    background: transparent;
}
