<div class="login-box">
  <div class="login-logo"> Controle de Barragens </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Faça login para acessar o sistema</p>
      <form [formGroup]="loginForm" (ngSubmit)="acaoLogin()">
        <div class="input-group mb-3">
         <input formControlName="email" type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text"
                 [ngClass]="{'error': hasError(loginForm.get('email'))}"
                 [ngClass]="{'success': hasSuccess(loginForm.get('email'))}">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="help-block" *ngIf="hasError(loginForm.get('email'))">{{errorMessage(loginForm.get('email'))}}</div>
        <div class="input-group mb-3">
          <input formControlName="senha" type="password" class="form-control" placeholder="Senha">
          <div class="input-group-append">
            <div class="input-group-text"
                 [ngClass]="{'error': hasError(loginForm.get('senha'))}"
                 [ngClass]="{'success': hasSuccess(loginForm.get('senha'))}">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="help-block" *ngIf="hasError(loginForm.get('senha'))">{{errorMessage(loginForm.get('senha'))}}</div>
        <div class="row">

          <!--<div class="col-8">
            <div class="icheck-primary row">
              <label for="remember">
                Lembrar acesso
              </label>
              <input type="checkbox" id="remember">
            </div>
          </div>-->
          <!-- /.col -->
          <div class="col-4">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!--<div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div>

      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p>
    </div>
   login-card-body -->
  </div>
  </div>
</div>
