<div class="wrapper">
  <app-nav-bar></app-nav-bar>
  <app-side-bar></app-side-bar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
    <p-confirmDialog #confirm header="Confirmação" icon="pi pi-question-circle">
      <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirm.accept()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirm.reject()"></button>
      </p-footer>
    </p-confirmDialog>
  </div>
  <app-footer></app-footer>
</div>


