<app-page-header
  [breadCrumbItems]="[{text: 'Cadastros', icon: 'fa-edit'}, {text: 'Cadatro de Equipamentos'}]"
  page-title="Equipamentos"></app-page-header>

<app-panel-container [panelTitle]="pageTitle" [isLoading]="loadingResources">


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="row">

    <div class="col-12">
      <app-form-validation-container for="descricao" label="Descrição" [form-control]="resourceForm.get('descricao')">
        <input type="text" class="form-control" id="descricao" formControlName="descricao">
      </app-form-validation-container>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-form-validation-container [selectType]="true" for="categoria" label="Categoria"
                                     [form-control]="resourceForm.get('categoria')">
        <select class="form-control" name="categoria" id="categoria" formControlName="categoria"
                [compareWith]="selectEnumComparator">
          <option *ngFor="let item of categorias | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
      </app-form-validation-container>
    </div>

    <div class="col-6">
      <app-form-validation-container [selectType]="true" for="quantidade" label="Quantidade"
                                     [form-control]="resourceForm.get('quantidade')">
        <input type="number" class="form-control" id="quantidade" formControlName="quantidade">
      </app-form-validation-container>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <div class="row">
    <div class="form-group col-md-12">
      <button class="m-top float-left" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
              [label]="resourceForm.get('id').value ? 'Atualizar' : 'Salvar'" icon="pi pi-check"></button>
    </div>
  </div>
</form>

<app-equipamento-list [miniCrudForm]="this"></app-equipamento-list>
</app-panel-container>

