<app-page-header
  [breadCrumbItems]="[{text: 'Complexos', icon: 'fa-edit', link: '/complexos'}, {text: 'Cadatro de Complexos'}]"
  page-title="Administrativo"></app-page-header>

<app-panel-container buttonLink="/complexos" [panelTitle]="pageTitle" buttonText="Voltar" buttonIcon="fa-arrow-left">

  <p-steps [(activeIndex)]="step" [readonly]="false" [model]="items"></p-steps>

  <div class="wizard-content dadosComplexo"
       [ngClass]="{'active-content': step === 0}">

    <p-panel class="col-12" header="Dados do Complexo">

      <form [formGroup]="resourceForm">

        <div class="row">

          <div class="col-12">
            <app-form-validation-container for="nome" label="Nome" [form-control]="resourceForm.get('nome')">
              <input type="text" placeholder="Nome do Complexo" class="form-control" id="nome" formControlName="nome">
            </app-form-validation-container>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <app-form-validation-container [selectType]="true" for="uf" label="UF"
                                           [form-control]="resourceForm.get('uf')">
              <select class="form-control" name="uf" id="uf" formControlName="uf" [compareWith]="selectEnumComparator">
                <option *ngFor="let item of uf | keys" [ngValue]="item.key">{{item.value}}</option>
              </select>
            </app-form-validation-container>
          </div>

          <div class="col-4">
            <app-form-validation-container for="municipio" label="Municipio"
                                           [form-control]="resourceForm.get('municipio')">
              <input type="text" placeholder="Nome do municipio" class="form-control" id="municipio"
                     formControlName="municipio">
            </app-form-validation-container>
          </div>


          <div class="col-md-4">
            <app-form-validation-container [selectType]="true" for="situacao" label="Situação"
                                           [form-control]="resourceForm.get('situacao')">
              <select class="form-control" name="situacao" id="situacao" formControlName="situacao"
                      [compareWith]="selectEnumComparator">
                <option *ngFor="let item of situacao | keys" [ngValue]="item.key">{{item.value}}</option>
              </select>
            </app-form-validation-container>
          </div>

        </div>

        <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>


      </form>

    </p-panel>

    <div class="row" style="padding: 6px; margin-top: -10px;">
      <div class="col-12" style="text-align: right; padding-right: 0;">
        <button pButton type="button" label="Próximo" iconPos="right" (click)="clickNext(1)" icon="pi pi-arrow-right"
                class="ui-button-secondary ui-button-raised"
                style="background-color: white;color: darkslategray; border: 1px solid #cccccc;"></button>
      </div>
    </div>

  </div>

  <div class="wizard-content estruturas"
       [ngClass]="{'active-content': step === 1}">

    <br>

    <div class="row">
      <p-panel class="col-12" header="Estruturas">
        <!--<p-progressBar *ngIf="isConsultandoCep" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>-->

        <app-estrutura-form #estruturaForm [item]="resource.estruturas"></app-estrutura-form>

      </p-panel>
    </div>

    <div class="row" style="padding: 6px; margin-top: 10px;">

      <br>

      <div class="col-6" style="text-align: left; padding-left: 0;">
        <button pButton type="button" label="Anterior" iconPos="left" (click)="clickPrevious(0)" icon="pi pi-arrow-left"
                class="ui-button-secondary ui-button-raised"
                style="background-color: white;color: darkslategray; border: 1px solid #cccccc;"></button>
      </div>

      <div class="col-6" style="text-align: right; padding-right: 0;">
        <button pButton type="button" label="Próximo" iconPos="right" (click)="clickNext(2)" icon="pi pi-arrow-right"
                class="ui-button-secondary ui-button-raised"
                style="background-color: white;color: darkslategray; border: 1px solid #cccccc;"></button>
      </div>
    </div>

  </div>


  <div class="wizard-content equipamentos"
       [ngClass]="{'active-content': step === 2}">

    <br>

    <div class="row">
      <p-panel class="col-12" header="Equipamentos">


        <p-pickList
                    [showSourceControls]="false"
                    [showTargetControls] = "false"
                    [source]="sourceEquipamentos"
                    [target]="targetEquipamentos"
                    sourceHeader="Equipamentos Disponíveis"
                    targetHeader="Equipamentos Selecionados" dragdrop="true"
                    [responsive]="true"
                    [sourceStyle]="{'height':'300px'}"
                    [targetStyle]="{'height':'300px'}"
                    filterBy="descricao"
                    sourceFilterPlaceholder="Pesquise pela descrição" targetFilterPlaceholder="Pesquise pela descrição">
          <ng-template let-equipamento pTemplate="item">
            <div class="equipamento-item">
              <div class="equipamento-list-detail">
                <h5 class="p-mb-2">{{equipamento.descricao}}</h5>
                <i class="pi pi-cog equipamento-category-icon"></i>
                <span class="equipamento-category">{{categoriaEquipamento[equipamento.categoria]}}</span>
              </div>
            </div>
          </ng-template>
        </p-pickList>
      </p-panel>
    </div>


    <div class="row" style="padding: 6px; margin-top: 10px;">

      <div class="col-6" style="text-align: left; padding-left: 0;">
        <button pButton type="button" label="Anterior" iconPos="left" (click)="clickPrevious(1)" icon="pi pi-arrow-left"
                class="ui-button-secondary ui-button-raised"
                style="background-color: white;color: darkslategray; border: 1px solid #cccccc;"></button>
      </div>

      <div class="col-6" style="text-align: right; padding-right: 0;">
        <button class="float-right" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
                label="Salvar" (click)="submitForm()" icon="pi pi-check"></button>

      </div>
    </div>
  </div>


</app-panel-container>
