@import "src/styles.scss";


.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}


.wizard-body .wizard-wrapper .wizard-container .wizard-header{
  box-shadow: none;
}

.wizard-content.dadosComplexo {
  display: none;
}


.wizard-content.estruturas {
  display: none;
}

.wizard-content.equipamentos {
  display: none;
}

.active-content {
  display: block !important;
}


/*button {
  color: $azul-primario;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid $azul-primario;
  padding: 7px;

  &:hover {
    background: $azul-primario;
    color: #fff;
    padding: 12px;
  }

  .fa {
    margin-right: 3px;
  }
}
*/

.m-top {
  margin-top: 15px;
}


/*Pick-list*/

.equipamento-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
  }

  .equipamento-list-detail {
    flex: 1 1 0;
  }


  .equipamento-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .equipamento-category {
    vertical-align: middle;
    line-height: 1;
  }
}

@media screen and (max-width: 576px) {
  .equipamento-item {
    flex-wrap: wrap;
  }
}
