<app-page-header
  [breadCrumbItems]="[{text: 'Complexos', icon: 'fa-edit', link: '/complexos'}, {text: 'Agenda'}]"
  [page-title]="getNomeComplexo()"></app-page-header>

<app-panel-container [panelTitle]="pageTitle">

  <p-dialog [style]="{width: '500px'}" [modal]="true" [header]="pageTitle" [(visible)]="display">

    <form [formGroup]="resourceForm" (submit)="submitForm()">

      <div class="row">
        <div class="col-12">
          <app-form-validation-container for="evento" label="Evento" [form-control]="resourceForm.get('evento')">
            <input type="text" class="form-control" id="evento" formControlName="evento">
          </app-form-validation-container>
        </div>
      </div>

      <div class="row">

        <div class="col-12">
          <app-form-validation-container for="descricao" label="Descrição"
                                         [form-control]="resourceForm.get('descricao')">
            <input type="text" class="form-control" id="descricao" formControlName="descricao">
          </app-form-validation-container>
        </div>
      </div>

      <div class="row">

        <div class="col-6">
          <app-form-validation-container [selectType]="true" for="tipoEvento" label="Tipo de Evento"
                                         [form-control]="resourceForm.get('tipoEvento')">
            <select class="form-control" name="tipoEvento" id="tipoEvento" formControlName="tipoEvento"
                    [compareWith]="selectEnumComparator">
              <option *ngFor="let item of tipoEventos | keys" [ngValue]="item.key">{{item.value}}</option>
            </select>
          </app-form-validation-container>
        </div>

        <div class="col-6">
          <app-form-validation-container [selectType]="true" for="ativo" label="Ativo"
                                         [form-control]="resourceForm.get('ativo')">
            <select class="form-control" name="ativo" id="ativo" formControlName="ativo"
                    [compareWith]="selectComparator">
              <option *ngFor="let ativo of ativos" [ngValue]="ativo">{{ativo.titulo}}</option>
            </select>
          </app-form-validation-container>
        </div>

      </div>


      <div class="row">

        <div class="col-6">

          <app-form-validation-container [showTip]="false" for="dataInicio" label="Data de Inicio"
                                         [form-control]="resourceForm.get('dataInicio')">
            <p-calendar  [locale]="pt" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" class="ui-fluid" [dateFormat]="'yy-mm-dd'" id="dataInicio" formControlName="dataInicio"
                         [dataType]="'string'" [showButtonBar]="true">
            </p-calendar>
          </app-form-validation-container>

        </div>

        <div class="col-6">
          <app-form-validation-container [showTip]="false" for="dataConclusao" label="Data de Conclusão"
                                         [form-control]="resourceForm.get('dataConclusao')">
            <p-calendar  [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [dateFormat]="'yy-mm-dd'" id="dataConclusao" formControlName="dataConclusao"
                         dataType="date" [showButtonBar]="true">
            </p-calendar>
          </app-form-validation-container>

        </div>


      </div>

      <br>

      <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

      <div class="row" style="margin-top: 30px; margin-bottom: -30px;">
        <div class="form-group col-md-12">
          <button class="m-top float-left" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
                  [label]="resourceForm.get('id').value ? 'Atualizar' : 'Salvar'" icon="pi pi-check"></button>

          <button *ngIf="resourceForm.get('id').value !=null"
                  pButton
                  style="margin-top: 15px; margin-left: 15px"
                  class="p-button-danger ui-button-raised"
                  type="button"
                  icon="pi pi-trash"
                  (click)="removerEvento(this.resourceForm.value)"
                  label="Excluir">
          </button>

        </div>


      </div>

    </form>

  </p-dialog>

  <button pButton type="button" (click)="showDialog()" icon="pi pi-calendar" label="Adicionar Evento"></button>

  <p-fullCalendar #calendar [events]="events" [options]="options" ></p-fullCalendar>

</app-panel-container>

