<app-page-header [breadCrumbItems]="[{text: 'Clientes', icon: 'fa-edit', link: '/clientes'}, {text: 'Cadatro de Clientes'}]" page-title="Administrativo"></app-page-header>

<app-panel-container button-link="/complexos" [panelTitle]="pageTitle" buttonText="Voltar" button-icon="fa-arrow-left">

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="form-row">
      <!-- nome -->
      <div class="col-12">
        <app-form-validation-container showTip="true" for="nome" label="Nome" [form-control]="resourceForm.get('nome')">
          <input type="text" placeholder="Nome" class="form-control" id="nome" formControlName="nome">
        </app-form-validation-container>
      </div>

    </div>

    <div class="row">
      <!-- nome -->
      <div class="col-6">
        <app-form-validation-container for="endereco" label="Endereço" [form-control]="resourceForm.get('endereco')">
          <input type="text" placeholder="Endereço" class="form-control" id="endereco" formControlName="endereco">
        </app-form-validation-container>
      </div>

      <div class="col-6">
        <app-form-validation-container for="telefone" label="Telefone" [form-control]="resourceForm.get('telefone')">
          <input [imask]="{mask: '(00)0000-0000'}" type="text" placeholder="Telefone" class="form-control" id="telefone" formControlName="telefone">
        </app-form-validation-container>
      </div>

    </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <div class="row no-print">
    <div class="col-12">
      <button class="btn bg-gradient-primary float-right" [disabled]="submittingForm || resourceForm.invalid" type="submit"><i class="fas fa-check" ></i> Salvar</button>
    </div>
  </div>

  </form>

</app-panel-container>
