<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="row">

    <div class="col-6">
      <app-form-validation-container for="nome" label="Descrição" [form-control]="resourceForm.get('descricao')">
        <input type="text" class="form-control" id="descricao" formControlName="descricao">
      </app-form-validation-container>
    </div>


    <div class="col-md-6">
      <app-form-validation-container for="linkPlanoAcao" label="Link Plano de Ação"
                                     [form-control]="resourceForm.get('linkPlanoAcao')">
        <input type="text" placeholder="link para plano de Ação" class="form-control" id="linkPlanoAcao"
               formControlName="linkPlanoAcao">
      </app-form-validation-container>
    </div>


  </div>

  <div class="row">

    <div class="col-md-6">
      <app-form-validation-container [selectType]="true" for="tipo" label="Tipo"
                                     [form-control]="resourceForm.get('tipo')">
        <select class="form-control" name="tipo" id="tipo" formControlName="tipo" [compareWith]="selectEnumComparator">
          <option *ngFor="let item of tipoEstrutura | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
      </app-form-validation-container>
    </div>

    <div class="col-md-6">
      <app-form-validation-container [selectType]="true" for="situacao" label="Situação"
                                     [form-control]="resourceForm.get('situacao')">
        <select class="form-control" name="situacao" id="situacao" formControlName="situacao"
                [compareWith]="selectEnumComparator">
          <option *ngFor="let item of situacaoEnum | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
      </app-form-validation-container>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <app-form-validation-container [selectType]="true" for="danoPotencial" label="Dano Potencial"
                                     [form-control]="resourceForm.get('danoPotencial')">
        <select class="form-control" name="danoPotencial" id="danoPotencial" formControlName="danoPotencial"
                [compareWith]="selectEnumComparator">
          <option *ngFor="let item of tipoRisco | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
      </app-form-validation-container>
    </div>

    <div class="col-md-4">
      <app-form-validation-container [selectType]="true" for="categoriaRisco" label="Categoria de Risco"
                                     [form-control]="resourceForm.get('categoriaRisco')">
        <select class="form-control" name="categoriaRisco" id="categoriaRisco" formControlName="categoriaRisco"
                [compareWith]="selectEnumComparator">
          <option *ngFor="let item of tipoRisco | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
      </app-form-validation-container>
    </div>

    <div class="col-md-4">
      <app-form-validation-container [selectType]="true" for="nivelEmergencia" label="Nivel de Emergencia"
                                     [form-control]="resourceForm.get('nivelEmergencia')">
        <select class="form-control" name="nivelEmergencia" id="nivelEmergencia" formControlName="nivelEmergencia"
                [compareWith]="selectEnumComparator">
          <option *ngFor="let item of nivelEmergencia | keys" [ngValue]="item.key">{{item.value}}</option>
        </select>
      </app-form-validation-container>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <br>
      <p-checkbox label="Inserida Politica Nacional" binary="true"
                  [formControl]="resourceForm.controls['inseridaPoliticaNacional']"></p-checkbox>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <button class="m-top float-left" pButton [disabled]="submittingForm || resourceForm.invalid" type="submit"
              [label]="indexResource >= 0 ? 'Atualizar' : 'Adicionar'" icon="pi pi-check"></button>

      <div style="margin-top: 15px;">
        <button
          pButton
          style="margin-right: 6px; margin-left: 6px; background-color: white;color: darkslategray; border: 1px solid #cccccc;"
          class="ui-button-secondary ui-button-raised"
          type="button"
          icon="pi pi-times"
          (click)="cancelAction()"
          label="Cancelar">
        </button>
      </div>

    </div>


  </div>

  <!--{{resourceForm.value | json}}-->

</form>

<app-estrutura-list [miniCrudForm]="this"></app-estrutura-list>

