@import "src/styles.scss";

/*button {
  color: $azul-primario;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid $azul-primario;
  padding: 7px;

  &:hover {
    background: $azul-primario;
    color: #fff;
    padding: 12px;
  }

  .fa {
    margin-right: 3px;
  }
}
*/

.m-top {
  margin-top: 15px;
}


