<app-panel-container [isLoading]="loadingResources" panelTitle="Lista de Equipamentos" [showButton]="false">

<p-table [value]="items" [responsive]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Descrição</th>
        <th>Categoria</th>
        <th style="text-align: right">Quantidade</th>
        <th class="text-center">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipamento>
      <tr>
        <td>{{equipamento.descricao}}</td>
        <td>{{categoriaEnum[equipamento.categoria]}}</td>
        <td style="text-align: right">{{equipamento.quantidade}}</td>
        <td class="text-center">
          <button title="Editar" [disabled]="disableActions(equipamento)" (click)="updateResource(equipamento)" class="m-r-5 btn-acoes">
            <i class="fa fa-pencil-alt font-14"></i>
          </button>
          <button title="Excluir" [disabled]="disableActions(equipamento)" (click)="confirmRemove(equipamento)" class="m-r-5 btn-acoes">
            <i class="fa fa-trash font-14"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</app-panel-container>
