@import "src/variables.scss";


body .ui-panel .ui-panel-titlebar {
    padding: 15px;
    border-bottom: 1px solid map-get($colors, azul-primario) !important;
    // background: #fff;
}

input {
    width: 100%;
    //text-transform: uppercase;
}

.ui-spinner {
    width: 100%;
}

h5 {
    margin: 2px 0px 2px 0px;
}

h4 {
    margin: 0px;
}


label {
    font-weight: 700;
    color: #5c666a;
    margin-bottom: 4px;
}

input:focus {
    border-color: map-get($colors, azul-primario);
}

button:hover {
    cursor: pointer;
}

table,
label {
    @include font(13px);
}

.page-title {
    @include font(17px);
}


/* ações da tabela */
.btn-acoes {
    background: none;
    color: map-get($colors, azul-primario);
    transition: all 0.2s;
    @include font(1rem);
    border: none;
    cursor: pointer;

    &:hover {
        background: map-get($colors, azul-primario);
        border-radius: 3px;
        color: #fff;
    }
}

button[disabled].btn-acoes {
    color: map-get($colors, disabled);

    &:hover {
        cursor: default;
        background: none;
        color: map-get($colors, disabled);
        border: none;
    }

}

/* Validação form */
input.ng-dirty.ng-valid {
    border-color:  map-get($colors, sucesso);
}

p-dropdown.ng-dirty.ng-valid {
    div.ui-dropdown.ui-widget.ui-state-default {
        border-color:  map-get($colors, sucesso);
    }
}

input.ng-dirty.ng-invalid {
    border-color:  map-get($colors, error);
}

input.ng-touched.ng-invalid {
    border-color:  map-get($colors, error);
}

p-dropdown.ng-dirty.ng-invalid {
    div.ui-dropdown.ui-widget.ui-state-default {
        border-color:  map-get($colors, error);
    }

}

p-dropdown.ng-touched.ng-invalid {
    div.ui-dropdown.ui-widget.ui-state-default {
        border-color:  map-get($colors, error);
    }
}

input.ng-dirty.ng-touched.ng-invalid:focus {
    -webkit-box-shadow: 0px 0px 5px #dc354585;
    -moz-box-shadow: 0px 0px 5px #dc354585;
    box-shadow: 0px 0px 5px #dc354585;
}

input.ng-touched.ng-valid:focus {
    -webkit-box-shadow: 0px 0px 5px #2ecc7187;
    -moz-box-shadow: 0px 0px 5px #2ecc7187;
    box-shadow: 0px 0px 5px #2ecc7187;
}


a.p-menuitem-link.ng-star-inserted {

  &:hover {
    cursor: pointer;
  }
}

label.p-checkbox-label.ng-star-inserted {
  margin-top: 6px;
}

/*butões pickList*/
button.p-ripple.p-button.p-component.p-button-icon-only {
  font-size: 3px !important;
}
