$colors: (
    azul-primario:  #406d94,
    cinza-primario: #808080,
    disabled:       #666666,
    error :         #dc3545,
    sucesso :       #2ecc71
);

@mixin font($tamanho) {
    font-size: $tamanho;
}
