<app-page-header [breadCrumbItems]="[{text: 'Clientes', icon: 'fa-users'}]" page-title="Aministrativo"></app-page-header>
<app-panel-container [isLoading]="loadingResources" button-link="new" panel-title="Lista de Clientes" button-text="Novo" button-icon="fa-plus">

 <!-- <table class="table table-striped table-bordered table-hover table-responsive">
    <thead class="thead-default">
      <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>

    <tr *ngFor="let representante of resources">

      <td>
        <strong>{{representante.nome}}</strong>
      </td>
      <td>
        {{representante.endereco}}
      </td>
      <td>
        {{representante.telefone}}
      </td>

      <td class="text-center">
        <button title="Editar" [routerLink]="[representante.id, 'edit']" class="m-r-5 btn-acoes">
          <i class="fa fa-pencil font-14"></i>
        </button>
        <button title="Excluir" (click)="deleteResource(representante)" class="m-r-5 btn-acoes">
          <i class="fa fa-trash font-14"></i>
        </button>
      </td>
    </tr>
  </table>-->

 <p-table [value]="resources" [responsive]="true" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
          <tr>
              <th>Vin</th>
              <th>Year</th>
              <th>Brand</th>
              <th>Color</th>
              <th>Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-complexo>
          <tr>
              <td>{{complexo.id}}</td>
              <td>{{complexo.nome}}</td>
              <td>{{complexo.situacao}}</td>
              <td>{{complexo.municipio}}</td>
              <td class="text-center">
                <button title="Editar" class="m-r-5 btn-acoes">
                  <i class="fa fa-pencil-alt fa-sm"></i>
                </button>
                <button title="Excluir" class="m-r-5 btn-acoes">
                  <i class="fa fa-trash-alt fa-sm"></i>
                </button>
              </td>
          </tr>
      </ng-template>
  </p-table>



</app-panel-container>
