div#avatar {
  width: 40px;
  height: 40px;
  background: #3271c7;//#1565c0;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 11px;
  font-weight: 700;
  margin-right: 8px;

  span {
    letter-spacing: 1px;
    margin-left: -1px;
    text-transform: uppercase;
  }
}
