 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8;"
    />
    <span class="brand-text font-weight-light">Controle Ambiental</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div id="avatar">
        <span>AD</span>
      </div>
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false">

        <li class="nav-item">
          <a [routerLink]="'/dashboard'" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="'/complexos'"  class="nav-link">
            <i class="fas fa-edit nav-icon"></i>
            <p>Complexo Minerário</p>
          </a>
        </li>

        <li class="nav-header">Cadastros</li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="'/equipamentos'"  class="nav-link">
            <i class="pi pi-cog nav-icon"></i>
            <p>Equipamentos</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="'/ativos'"  class="nav-link">
            <i class="pi pi-th-large nav-icon"></i>
            <p>Ativos</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
